@{
    ViewData["Title"] = "Inventaris";
}

@*<h2>@ViewData["Title"].</h2>*@
<h3>@ViewData["Message"].</h3> 



<input type="button" value="Buat Baru" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Inventory") + "'");" />

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>Tipe</th>
            <th>Panjang</th>
            <th>Lebar</th>
            <th>Stok</th>                   
        </tr>
    </thead>
    <tbody id="inventorylist">        
    </tbody>    
    <tfoot>
        <tr>
            <td id="loading"></td>
        </tr>
    </tfoot>    
</table>



@section scripts
{
<script type="text/javascript">

    //var games = new Array();
    //games[0] = "World of Warcraft";
    //games[1] = "Lord of the Rings Online";
    //games[2] = "Aion";
    //games[3] = "Eve Online";
    //games[4] = "Final Fantasy XI";
    //games[5] = "City of Heros";
    //games[6] = "Champions Online";
    //games[7] = "Dark Age of Camelot";
    //games[8] = "Warhammer Online";
    //games[9] = "Age of Conan";

    $(document).ready(function (event) {
        loadTable()
    });

    function loadTable() {
        $.ajax({
            url: 'http://192.168.1.29:3000/getallinventaris',
            //contentType: 'text/html; charset=utf-8',
            type: 'GET',
            dataType: 'json'

        })
            
        .always(function (result) {
            console.log("Getting Inventory...");
            $("#inventorylist").empty();
        })
        .done(function (result) {
            console.log("the result if success");


            var product = result;
            //var product = [{ "nama": "Meja murid standar", "deskripsi": "Meja murid standar ukuran 1,5 x 0,6", "tipe": "Meja Murid", "stok": "10", "panjang": "1.5", "lebar": "0.6" },
            //{ "nama": "Meja Guru standar", "deskripsi": "Meja guru standar ukuran 1,5 x 0,6", "tipe": "Meja Guru", "stok": "10", "panjang": "1.5", "lebar": "0.6" },
            //{ "nama": "Kursi standar", "deskripsi": "kursi standar ukuran 0,5 x 0,5", "tipe": "Kursi", "stok": "10", "panjang": "0.5", "lebar": "0.5" }];

            $.each(product, function (i, value) {
                //$("#inventorylist").add();
                var stringRow = "<tr> <td>" + (i + 1) + "</td>" +
                "<td><a href='"+window.location+"/Edit?id="+value._id+"'>"+ value.nama + "</a></td>" +
                "<td>" + value.deskripsi + "</td>" +
                "<td>" + value.tipe + "</td>" +
                "<td>" + value.panjang + "</td>" +
                "<td>" + value.lebar + "</td>" +
                "<td>" + value.stok + "</td>" +
                 "<td> <button onclick=fDelete('" + value._id + "') class='btn btn-default'>Delete </button> </td> </tr>";
                $("#inventorylist").append(stringRow);
            });
        })
        .fail(function (result) {
            console.log("the result if error");
            console.log(result.error);
            var product = [{ "nama": "Meja murid standar", "deskripsi": "Meja murid standar ukuran 1,5 x 0,6", "tipe": "Meja Murid", "stok": "10", "panjang": "1.5", "lebar": "0.6" },
            { "nama": "Meja Guru standar", "deskripsi": "Meja guru standar ukuran 1,5 x 0,6", "tipe": "Meja Guru", "stok": "10", "panjang": "1.5", "lebar": "0.6" },
            { "nama": "Kursi standar", "deskripsi": "kursi standar ukuran 0,5 x 0,5", "tipe": "Kursi", "stok": "10", "panjang": "0.5", "lebar": "0.5" }];

            $.each(product, function (i, value) {
                var stringRow = "<tr> <td>" + (i + 1) + "</td>" +
                 "<td>" + value.nama + "</td>" +
                 "<td>" + value.deskripsi + "</td>" +
                 "<td>" + value.tipe + "</td>" +
                 "<td>" + value.panjang + "</td>" +
                 "<td>" + value.lebar + "</td>" +
                 "<td>" + value.stok + "</td> </tr>";
                $("#inventorylist").append(stringRow);
            });
        })
        .then(function (result) {
            $('#loading').hide();
        });
        
        
                     
        //    var list = "";
        //    for(i=0; i<games.length; i++){
        //        list +="<li>" +games[i]+"</li>";
        //    }
        //$("#gamelist").append(list);

    };

    function fDelete(deleteId) {
        //event.preventDefault();
        console.log("Deletting record");
        console.log(deleteId);
        var inventoryId = {
            id: deleteId
        };

        var form = $(this);

        console.log(inventoryId);
        $.ajax({
            url: 'http://192.168.1.29:3000/delete',
            data: inventoryId,
            type: 'DELETE',            
            dataType: 'json',
            crossDomain: true

        })
        .always(function (result) {
            console.log("From server...");

        })
        .done(function (result) {            
            console.log("Successfuly delete...");
            loadTable();
        })
        .fail(function (xhr, result, error) {
            console.log(error);
            boo
        })
    }

</script>
}