@{
    ViewData["Title"] = "Ruang Kelas";
}

@*<h2>@ViewData["Title"].</h2>*@
<h3>@ViewData["Message"].</h3>



<input type="button" value="Buat Baru" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Classroom") + "'");" />

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Panjang</th>
            <th>lebar</th>
            <th>bagian guru</th>
            <th>tipe meja murid</th>
            <th>tipe kursi</th>
            <th>aktual meja murid</th>
            <th>aktual kursi</th>
            <th>aktual murid</th>
            <th>max meja murid</th>
            <th>max kursi</th>            
        </tr>
    </thead>
    <tbody id="inventorylist"></tbody>
    <tfoot>
        <tr>
            <td id="loading"></td>
        </tr>
    </tfoot>
</table>



@section scripts
{
    <script type="text/javascript">

    //var games = new Array();
    //games[0] = "World of Warcraft";
    //games[1] = "Lord of the Rings Online";
    //games[2] = "Aion";
    //games[3] = "Eve Online";
    //games[4] = "Final Fantasy XI";
    //games[5] = "City of Heros";
    //games[6] = "Champions Online";
    //games[7] = "Dark Age of Camelot";
    //games[8] = "Warhammer Online";
    //games[9] = "Age of Conan";

    $(document).ready(function (event) {
        loadTable()
    });

    function loadTable() {
        $.ajax({
            //url: 'http://192.168.1.29:3000/ruangkelasget',
            url: 'http://localhost:3000/ruangkelasget',
            //contentType: 'text/html; charset=utf-8',
            type: 'GET',
            dataType: 'json'

        })

        .always(function (result) {
            console.log("Getting Inventory...");
            $("#inventorylist").empty();
        })
        .done(function (result) {
            console.log("the result if success");


            var product = result;
            //var product = [{ "nama": "Meja murid standar", "deskripsi": "Meja murid standar ukuran 1,5 x 0,6", "tipe": "Meja Murid", "stok": "10", "panjang": "1.5", "lebar": "0.6" },
            //{ "nama": "Meja Guru standar", "deskripsi": "Meja guru standar ukuran 1,5 x 0,6", "tipe": "Meja Guru", "stok": "10", "panjang": "1.5", "lebar": "0.6" },
            //{ "nama": "Kursi standar", "deskripsi": "kursi standar ukuran 0,5 x 0,5", "tipe": "Kursi", "stok": "10", "panjang": "0.5", "lebar": "0.5" }];

            $.each(product, function (i, value) {                
                //$("#inventorylist").add();
                var stringRow = "<tr> <td>" + (i + 1) + "</td>" +
                "<td><a href='"+window.location+"/Edit?id="+value._id+"'>"+ value.nama + "</a></td>" +
                "<td>" + value.panjang + "</td>" +
                "<td>" + value.lebar + "</td>" +
                "<td>" + value.bagianguru + "</td>" +
                "<td>" + value.mejamurid + "</td>" +
                "<td>" + value.kursi + "</td>" +
                "<td>" + value.aktualmejamurid + "</td>" +
                "<td>" + value.aktualkursi + "</td>" +
                "<td>" + value.aktualmurid + "</td>" +
                "<td>" + value.maxmejamurid + "</td>" +
                "<td>" + value.maxkursi + "</td>" +
                 "<td> <button onclick=fDelete('" + value._id + "') class='btn btn-default'>Delete </button> </td> </tr>";
                $("#inventorylist").append(stringRow);
            });
        })
        .fail(function (result) {
            console.log("the result if error");
            alert("Terjadi kesalahan");            
        })
        .then(function (result) {
            $('#loading').hide();
        });


    };

    function fDelete(deleteId) {
        //event.preventDefault();
        console.log("Deletting record");
        console.log(deleteId);
        var inventoryId = {
            id: deleteId
        };

        var form = $(this);

        console.log(inventoryId);
        $.ajax({
            //url: 'http://192.168.1.29:3000/ruangkelasdelete',
            url: 'http://localhost:3000/ruangkelasdelete',
            data: inventoryId,
            type: 'DELETE',
            dataType: 'json',
            crossDomain: true

        })
        .always(function (result) {
            console.log("From server...");

        })
        .done(function (result) {
            console.log("Successfuly delete...");
        })
        .fail(function (xhr, result, error) {
            console.log(error);
        })
        .then(function (result) {
            $('#loading').show();
            loadTable();
        });
    }

    </script>
}